= render :partial => "layouts/super_index", :locals => { columns: [:id, [:component, :name]], collection: @supplies, subtitle: 'My Supplies', member_actions: [:edit, :destroy], parent_chain: [@user]} 

