.container
  = render :partial => "layouts/super_edit", locals: { columns: [:recipe, :component, :servings], member: @ingredient} 
/ .container
/   h1 Editing ingredient
/   = render 'form'
/   p= link_to 'Show', @ingredient
/   p= link_to 'Back', ingredients_path