.container
  = render :partial => "layouts/super_show", :locals => { columns: [:identify, :recipe, :component, [:component, :component_nutrients], [:component, :nutrients], :flags], member: @ingredient }

