.title
  h1 About
h4 SoyLog is a the creation of a few Soylent enthusiasts who want to change the way the world eats. Through the power of quantified-self metrics, crowdsourced data and open source philosophy, SoyLog puts control of your diet and health back in your hands. 

h3 Links
p= link_to "http://soylent.me/", "http://soylent.me/"
p= link_to "Official Discourse", "http://discourse.soylent.me/discourse/"

p= link_to "SoylentScene Google plus group", "https://plus.google.com/communities/105858668070385894822"
p= link_to "https://github.com/adamwong246/SoyLog", "https://github.com/adamwong246/SoyLog"

h3 Disclaimers
h5.text-error Consuming SoyLog can be dangerous if made improperly. The ingredients used, while nesecary to a complete diet, may be harmfull and even toxic in high quantities. You are what you eat... so be careful!
h5.text-warning SoyLog cannot be held responsible for any ill-effects caused by consuming a Soylent diet. Consult you doctor before changing you diet.
h5.text-warning All data uploaded, including, but not limited to, medical records, is henceforwth considered under the GPL license. However, all reasonable claims and requests will be accomodated. Dont upload anything that you dont want the world to see!
h5.text-warning By using SoyLog, you relinquish this website, its maintainers and developers and anyone associated with Soylent.me of any and all legal culpability. 