= render :partial => "layouts/super_index", :locals => { columns: [:short_identify, :flagable, :owner, :spam, :duplicate, :inapproriate, :dangerous, :vote, :comment], collection: @flags, actions: [:show, :edit, :destroy]}
