= render :partial => "layouts/super_index", :locals => { columns: [:identify, :flagable, :creator, :spam, :duplicate, :inapproriate, :dangerous, :vote, :comment], collection: @flags, actions: [:show, :edit, :destroy], member_actions: [:show, :edit, :destroy]}
