.container
  = render :partial => "layouts/super_show", locals: { columns: [:spam, :duplicate, :inapproriate, :dangerous, :vote, :comment, :flagable_id, :flagable_type], member: @flag }                                              
