.container
  = render :partial => "layouts/super_show", locals: { columns: [:flagable, :user, :spam, :duplicate, :inapproriate, :dangerous, :vote, :comment], member: @flag, actions: [:new, :edit, :index, :destroy] }                                              
