/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require _font-awesome
 *= require_self
 *= require bootstrap/bootstrap.min.css
 *= require bootstrap/bootstrap-responsive.min.css
 *= require fontawesome/font-awesome.css
 *= require_tree .
 */

@import "bootstrap";


html,
      body {
        height: 100%;
        // margin-top: 30px;
        /* The html and body elements cannot have any padding or margin. */
      }

      /* Wrapper for page content to push down footer */
      #wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by it's height */
        margin: 0 auto -60px;
      }

      /* Set the fixed height of the footer here */
      #push,
      #footer {
        height: 40px;
      }
      #footer {
        background-color: #f5f5f5;
      }

      /* Lastly, apply responsive CSS fixes as necessary */
      @media (max-width: 767px) {
        #footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
        }
      }

.info{
  color: $infoText !important;
  background-color: $infoBackground !important;
  border: white !important;
}
.success {
  color: $successText !important;
  background-color: $successBackground !important;
  border: $successBorder !important;
}
.warning {
  color: $warningText !important;
  background-color: $warningBackground !important;
  border: $warningBorder !important;
}
.error {
  color: $errorText !important;
  background-color: $errorBackground !important;
  border: $errorBorder !important;
}

td.info a:hover{
  color:gray;
  background-color:white !important; 
}

button i {
  color: white;
}

i {
  text-shadow: none !important;
  background-image: none !important;
}

.modal-header i{
  &.icon-flag{
    color: $btnPrimaryBackground;
  }
}
button.btn.add{
  float:right;
}

// body { padding-top: 60px; }
.center {text-align: center;}

.best_in_place * {
  color: red;
}

.my-header i{
  float:right;
}

