/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require _font-awesome
 *= require_self
 *= require_tree .
 */

@import "bootstrap";


// a:hover{
//    background-color: lightgray !important;
//    color:black !important;
// }

.info{
  color: $infoText !important;
  background-color: $infoBackground !important;
  border: white !important;
}
.success {
  color: $successText !important;
  background-color: $successBackground !important;
  border: $successBorder !important;
}
.warning {
  color: $warningText !important;
  background-color: $warningBackground !important;
  border: $warningBorder !important;
}
.error {
  color: $errorText !important;
  background-color: $errorBackground !important;
  border: $errorBorder !important;
}

// td  a  button{
//   float:right !important;
// }
// i.icon-trash{
//   color: $errorText !important;
// }
// i.icon-wrench{
//   color: $warningText !important;
// }
// i.icon-plus{
//   color: $infoText;
// }
// i.icon-info-sign{
//   color: $successText;
// }
// .titles{
//   h1, h2, h3, h4, h5{
//     display: inline !important;
//   }
// }
// td.info a{display: block; width: 100%; height: 100%; }
td.info a:hover{
  color:gray;
  background-color:white !important; 
}

// .actions a:hover{
//   background-color: transparent !important;
//   text-decoration: none !important;
// }
i{
  text-shadow: none !important;
  background-image: none !important;
}
button.btn.add{
  float:right;
}
// .super-show{
//   position: relative;
  
//   ul.actions{
//     position: absolute;
//     right: 0;
//   }
// }
// ul.actions { 
//   list-style-type:none !important;
//   float:right;

//   li {
//     float: left;
//   }
// }

// .dropdown-menu li{
//   i, a{
//     display: inline !important
//   }
// }