/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require _font-awesome
 *= require_self
 *= require bootstrap/bootstrap.min.css
 *= require bootstrap/bootstrap-responsive.min.css
 *= require fontawesome/font-awesome.css
 *= require_tree .
 */

@import "bootstrap";


// a:hover{
//    background-color: lightgray !important;
//    color:black !important;
// }

.info{
  color: $infoText !important;
  background-color: $infoBackground !important;
  border: white !important;
}
.success {
  color: $successText !important;
  background-color: $successBackground !important;
  border: $successBorder !important;
}
.warning {
  color: $warningText !important;
  background-color: $warningBackground !important;
  border: $warningBorder !important;
}
.error {
  color: $errorText !important;
  background-color: $errorBackground !important;
  border: $errorBorder !important;
}

td.info a:hover{
  color:gray;
  background-color:white !important; 
}

button i {
  color: white;
}

i {
  text-shadow: none !important;
  background-image: none !important;
}

.modal-header i{
  &.icon-flag{
    color: $btnPrimaryBackground;
  }
}
button.btn.add{
  float:right;
}

body { padding-top: 60px; }
.center {text-align: center;}

.best_in_place * {
  color: red;
}

.my-header i{
  float:right;
}

