<h1>
  <%= "Editing #{member.class.to_s} #{member.identify}" %>
</h1>
 
<%= form %>

<%= render :partial => "layouts/actions", :locals => { :object => @recipe, :actions => [:show, :destroy, :index]} %>
